html,
  body,
  header,
  .view {
    height: 100%;
  }
  
  .background-main-page{
    background-image: url('https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
     /*
     https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260
     https://images.pexels.com/photos/4630894/pexels-photo-4630894.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260
     https://images.pexels.com/photos/3629982/pexels-photo-3629982.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260
     https://images.pexels.com/photos/3417418/pexels-photo-3417418.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260
     https://images.pexels.com/photos/3527786/pexels-photo-3527786.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260
     https://images.pexels.com/photos/2847648/pexels-photo-2847648.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260*/

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
  }
  .background-game{
    background-image: url('https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); 
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .background-card{
    background-color: #f8bbd0; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;      
  }
  

  @media (max-width: 740px) {
    html,
    body,
    header,
    .view {
      height: 100vh;
    }
  }

  .top-nav-collapse {
    background-color: #f8bbd0 !important;
  }

  .navbar:not(.top-nav-collapse) {
    background: transparent !important;
  }

  @media (max-width: 991px) {
   .navbar:not(.top-nav-collapse) {
    background: #f8bbd0 !important;
   }
  }
  body { font-family: sans-serif; }


